<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="system-menu" label="sys">
		<item label="obconf">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="obreconf">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="urxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="code">
			<action name="Execute">
				<execute>code</execute>
			</action>
		</item>
		<item label="thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<menu id="system-menu"/>
		<separator/>
		<item label="exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
